<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scarlett Practice Html</title>
</head>
<style>
    div {
        background-color: lightcoral;
    }

    h1 {
        color: red;
    }
</style>

<body>
    <h1>hello</h1>
    <h2>hello</h2>
    <h3>hello</h3>
    <i>itallic</i> <br/>
    <b>bold</b><br/>
    <img src="\pictures\60412503_2132108553510386_8713578844956655616_o.jpg" width="400" /><br />
    <video src="\videos\Pexels_Videos_1645926.mp4" width="400" autoplay controls>
    </video><br />
    <iframe width="400" height="280" src="https://www.youtube.com/embed/Zj1pw0yMnJM" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe><br />
    <a href="http://www.gmail.com">Gmail</a><br />
    <table border="1">
        <thread>
            <tr>
                <td>
                    1
                </td>
                <td>
                    2
                </td>
                <td>
                    3
                </td>
                <td>
                    4
                </td>
            </tr>
            <tr>
                <td>
                    5
                </td>
                <td>
                    6
                </td>
                
                <td>
                    7
                </td>
                <td>
                    8
                </td>
            </tr>
        </thread>
    </table> <br />

    <ul>
        <li>kjkjkj</li>
        <li>kjkjkj</li>
        <li>kjkjkj</li>
    </ul>
    <ol>
        <li>kjkjkjk</li>
        <li>kjkjkj</li>
        <li>kjkjkj</li>
    </ol>

    <div style="background-color:aqua">
        header
    </div>
    <span style="background-color:khaki">
        selected area only
    </span> <br />

    <input type="text" /><br />
    <input type="password" /><br />
    <input type="checkbox" /><br />
    <input type="radio" /><br />


</body>

</html>